SECRET_KEY=cambia-esto-por-una-clave-secreta-larga
DEBUG=False
ALLOWED_HOSTS=tudominio.com,www.tudominio.com

# Base de datos principal
DB_DEFAULT_NAME=GestorInstitucional
DB_DEFAULT_USER=
DB_DEFAULT_PASSWORD=
DB_DEFAULT_HOST=172.20.100.209
DB_DEFAULT_PORT=

# Base de datos solo lectura
DB_READONLY_NAME=DGEMPRES03
DB_READONLY_USER=
DB_READONLY_PASSWORD=
DB_READONLY_HOST=172.20.100.209
DB_READONLY_PORT=

# Email
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

# Email Paz y Salvo
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=
MAIL_PASS=
MAIL_FROM=

# Playwright (ruta dentro del contenedor Docker — no cambiar)
PLAYWRIGHT_BROWSERS_PATH=/playwright-browsers
