PORT=3030

# SQL Server (SGC_HUDN)
DB1_USER=
DB1_PASSWORD=
DB1_SERVER=
DB1_DATABASE=SGC_HUDN
DB1_PORT=1433
DB1_DRIVER=ODBC Driver 18 for SQL Server

# FTP / NAS
FTP_HOST=
FTP_PORT=21
FTP_USER=
FTP_PASSWORD=
