DB_HOST=localhost
DB_PORT=1433
DB_USER=sa
DB_PASSWORD=CHANGE_ME
DB_NAME=contratos
DB_SCHEMA=dbo
DB_MAX_CONTRACT_YEAR=2026
DB_ENCRYPT=false
DB_TRUST_SERVER_CERTIFICATE=true
DB_CONNECTION_TIMEOUT_MS=30000
DB_REQUEST_TIMEOUT_MS=120000
DB_METADATA_CACHE_TTL_MS=300000
DB_INDEX_RETRIES=4

DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=*
DJANGO_SECRET_KEY=change-me
